<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-6">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <%= form.fields_for :website do |website_form| %>
    <div class="form-row">
      <div class="form-group col-6">
        <%= website_form.label :url %>
        <%= website_form.text_field :url, class: "form-control" %>
      </div>
    </div>
  <% end %>
  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>